.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.data-container {
  background: lightgray;
  border-radius: 20px;
  padding: 5px 20px 5px;
}
